// ===============
// Variables
// ===============


// Colors
$blue:#6ba4b8;
$tan:#d0c883;
$green:#5c7f71;
$purple:#696e9f;
$gray:#505759;
$light_gray:#cccccc;
$gold:#af9800;
$white:#f2f1f0;

$link:$blue;
$link_hover:$tan;

// ===

// Fonts
$arial_font:Arial,sans-serif;
$rubik_font:Rubik,Arial,sans-serif;
$newslab_font:Newslab,Arial,sans-serif;

// ===

// Transitions
$short_tran:all 300ms ease;
$med_tran:all 500ms ease;
$long_tran:all 750ms ease;

// ===


