
html {
	height:100%;
	background:gray;
}
body {
	background:white;
	padding:0;
	margin:0;
	border-left:2px solid green;
	border-right:2px solid green;
}
footer {
	margin-top:50px;
	text-align:center;
}
header {
	text-align:center;
	border-bottom:2px solid green;
	margin:0;
}
a {
	color:#5C7F71;
	transition:all 300ms ease;
	text-decoration:none;
	font-weight:bold;
}
a:hover {
	color:#B2A8A2;
}

p.work-skills,p.role-description,p.project-description,p.project-tools {
	margin-bottom:5px;
}

header, div.about-me, div.previous-work, div.projects {
	padding:20px 20px 20px 20px;
}

@media screen and (min-width:600px){
	body {
		width:85%;
		margin:auto;
	}

	a.work-link {
		font-size:15px;
		font-weight:bold;
	}

	ul.work-skills,ul.role-description,ul.project-description,ul.project-tools {
		margin-top:5px;
	}


	h1 {}
	h2 {}
	h3 {}
	h4 {}
	h5 {}
	h6 {}
		
	.previous-work,.projects,.about-me {padding:0 3% 0 0;}

	#work-accordion h3.work-title, #projects-accordion h3.project-title {
		font-size:18px;
		font-weight:bold;
		cursor:pointer;
	}
	
	.bio-photo {
		max-width:40%;
		margin-right:20px;
		float:left;
		border-radius:2px;
	}
}


/* Begin mobile-optimized styling */
@media screen and (max-width:767px) {
	body {
		color:black;
		max-width:100%;
	}
	a.work-link {
		font-size:16px;
		margin-left:-14%;
	}
	a.project-link {
		font-size:16px;
	}

	a:hover, a.work-link:hover {
		color:blue;
	}
	
	.work-skills,.role-description {
		font-size:14px;
	}

	ul.work-skills,ul.role-description,ul.project-description,ul.project-tools {
		margin-top:5px;
		margin-left:-13%;
	}
	
	h1 {}
	h2 {}
	h3 {}
	h4 {}
	h5 {}
	h6 {}

	.previous-work {}
	.projects {}

	#work-accordion h3.work-title, #projects-accordion h3.project-title {
		font-size:16px;
		font-weight:bold;
		cursor:pointer;
	}
	
	.bio-photo {
		margin-left:5%;
		float:none;
		border-radius:2px;
	}
}







