body {
	color:black;
	max-width:70%;
	margin:0% 15%;
}

footer {
	margin-top:150px;
	text-align:center;
}

header {
	text-align:center;
}

a {
	color:black;
	transition:all 500ms ease;
}

a:hover {
	color:blue;
}

h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}

.previous-work {}
.projects {}

#work-accordion h3.work-title, #work-accordion h3.project-title {
	font-size:18px;
	font-weight:bold;
	cursor:pointer;
}


