body {
	color:black;
	max-width:70%;
	margin:0% 15%;
}

footer {
	margin-top:150px;
	text-align:center;
}

header {
	text-align:center;
}

a {
	color:#888;
	transition:all 500ms ease;
}

a:hover {
	color:blue;
	text-shadow:2px 2px gray;
}

h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}

.previous-work {}

h3.work-title {
	font-size:20px;
}
span.work-title {
	border:1px solid black;
	padding:5px;
}

.projects {}