
body {
	background:white;
	width:100%;
	color:black;
}

header {
	color:blue;
	font-size:20px;
	text-align:center;
}

footer {
	color:black;
	font-size:14px;
	text-align:center;
	margin-top:40%;
}

#temp-info-input, #temp-output {
	margin:0 20% 0 20%;
	max-width:60%;
}

input, button {
	margin-top:10px;
}

.hide-section {
	display:none;
	visibility:hidden;
}