
body {font-size:18px;width:95%;}

@media screen and (min-width:501px){
body {font-size:18px;max-width:400px;}
}

.col1{width:6%;}
.col2{width:40%;}
.col3{width:10%;}

td {padding-left:10px;}
.top-row {border-bottom:1px solid black;}

.selectCell,.itemName,.editCell {border-right:1px solid black;}
.itemSelect {}

.removeItem,.editItem,.deleteList {cursor:pointer;font-size:12px;}

.saveStatus {margin-left:15px;}

.checkedRow {background:tan;}

.itemNameInput,.listNameInput {margin-right:5px;border:1px solid black;}
.addItemButton {margin-right:10px;}

.showListButton {margin-top:10px;}