<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset = "UTF-8">
	<meta name = "author" content="Chris Ogletree">
	<meta name = "description" content="Fooling around with AngularJS to make a shopping list application">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>Shopping List App</title>
	
	<script src="anjs/angular.min.js"></script>
	
	<script src="list-script.js"></script>
	
	<link rel = "stylesheet" href="list-style.css">
</head>

<body>
	
	<h1>Shopping List</h1>
	<div ng-app="shoppingList" ng-controller="listCtrl">
		
		<input ng-model="itemName"><button ng-click="addItem()">Add</button><span style = "color:red;" ng-show="itemExists">Item Exists</span>
		<br /><br />
		<button ng-click="removeChecked()">Remove Checked Items</button>
		<button ng-click="removeAll()">Remove All Items</button>
		
		
		<table style = "border-collapse:collapse;margin-top:20px;margin-bottom:20px;">
			<tr class="top-row">
				<td class="col1"></td>
				<td class="col2">Item Name</td>
				<td class = "col3">Edit</td>
				<td class="col3">Remove</td>
			</tr>
			<tr ng-repeat="x in listItems">
				<td class="selectCell col1" style = ""><input type="checkbox" ng-model="checkedItem" ng-click="checkItem($index)" class="itemSelect" ></td>
				<td class="itemName col2">{{x.name}}</td>
				<td class="editItem col3"><span class="editItem" ng-click="editItem($index)">Edit</span></td>
				<td class="removeItem col3"><span class="removeItem" ng-click="removeItem($index)">Remove</span></td>
			</tr>
		</table>
		
		<div>
			<input ng-model="listName"><button ng-click="saveList(listName)" class="savelist">Save</button><span id="saveStatus"></span>
			<br />
			<button id="showListButton" ng-click="showLists()">Show Saved Lists</button>
			<ul ng-show="showSaved">
				<li ng-repeat="name in storedListNames">
					<button ng-click="getList(name)">{{name}}</button>
				</li>
			</ul>
		</div>
	</div>
</body>

</html>


