<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset = "UTF-8">
	<meta name = "author" content="Chris Ogletree">
	<meta name = "description" content="Took my AngularJS shopping list project and decided to add Bootstrap to practice utilizing multiple libraries in the same application">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>To-Do List App</title>
	
	<link href="https://cogletre.github.io/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
	
	<link rel = "stylesheet" href="anbs-style.css">
	
	<script src="https://cogletre.github.io/angularjs/angular.min.js"></script>
	
	<script src="anbs-an-script.js"></script>
	
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<script src = "https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src = "https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
	
	
</head>

<body>
	<h1 class="portfolioLink"><a href="http://cogletre.github.io">&#10094; back to main portfolio</a></h1>
	
	<div ng-app="todoListApp" ng-controller="todoListCtrl" id="appContainer">
		<h1 class="taskListTitle">To-Do List</h1>
		<button ng-click="closeCurrentList()" class="closeListButton" ng-show="listStarted || listLoaded" style="float:right;">Close List</button>
		
		<div ng-show="saveOrLoadChoice" class="saveLoadButtons">
			<button class="newListButton" ng-click="createNewList()">Create New List</button><button class="showListsButton" id="loadButton" ng-click="loadSavedList()" ng-disabled="saveNotAllowed || noSavedLists">Load Saved List</button>
		</div>
		
		<div id="newListArea" ng-show="createNew" class="newList">
			<input type="text" ng-model="newListName" class="listNameInput" maxlength="20" placeholder="List title (max 20 char.)">
			<button class="createList" ng-click="startList()">Start List</button><span class="cancelStart" ng-click="cancelChoice()">Cancel</span><br />
			<span id="listNameWarning"></span>
		</div>
		
		<div id="loadListArea" ng-show="loadSaved" class="loadList">
			<span style="font-weight:bold;">Click on a list to load it:</span><span class="cancelStart" ng-click="cancelChoice()">Cancel</span>
			<ol class="savedLists">
				<li ng-repeat="listName in storedTaskNames" class="savedListItem">
					<button ng-click="getList(listName)" class="loadListButton">{{listName}}</button><span ng-click="deleteList(listName,$index)" class="deleteList">Delete</span>
				</li>
			</ol>
		</div>
		
		<div id="bottomArea" ng-show="listStarted || listLoaded" class="bottomArea">
			
			<h2 class="listTitle" ng-click="editListName()" title="Click to edit list name">{{taskListName}}</h2>
			<span id="saveTitleStatus" class="listTitleStatus listSaveStatus"></span>
			
			<input ng-model="taskName" class="taskNameInput" maxlength="15" placeholder="Add task (max 15 chars)"><button class="addTaskItem" ng-click="addTask()">Add</button>
			<span style = "color:red;" ng-show="taskExists" class="itemExists">Task Exists</span>
		
		
			<table class="listTable table">
				<thead>
					<tr class="topRow">
						<th class="col1"><input type="checkbox" ng-click="checkAll()" id="checkAll" class="selectAll" title="Select All"></th>
						<th class="col2" colspan="2">Task</th>
						<!--<th class="col4">Edit</th>-->
						<th class="col4" ng-click="getList(taskListName)" title="Reload List">&#8634;</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="task in taskList" class="taskRow">
						<td class="selectCell col1"><input type="checkbox" ng-model="checkedTask" ng-click="checkTask($index)" class="taskSelect"></td>
						<td class="nameCell col2">{{task.name}}</td>
						<td class="editCell col4 editTask" ng-click="editTask($index)">Edit</td>
						<td class="removeCell col4 removeTask" ng-click="removeTask($index)">Remove</td>
					</tr>
				</tbody>
			</table>
			
			
			<button ng-click="removeChecked()" class="removeCheckedButton" ng-disabled="noneChecked">Remove Checked Tasks</button>
			<button ng-click="removeAll()" class="removeAllButton" ng-disabled="listEmpty">Clear List</button>
			<br /><br />
			<button ng-click="saveTaskList(taskListName)" ng-disabled="saveNotAllowed || noTaskItems" class="saveListButton">Save Task List</button>
			<button ng-click="saveAndClose(taskListName)" ng-disabled="saveNotAllowed || noTaskItems" class="saveAndCloseButton"><span class="saveText">Save</span> and <span class="closeText">Close</span></button>
		</div>
	</div>
</body>

</html>


