<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset = "UTF-8">
	<meta name = "author" content="Chris Ogletree">
	<meta name = "description" content="Fooling around with AngularJS to make a shopping list application">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>Shopping List App</title>
	
	<link href="https://cogletre.github.io/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
	
	<link rel = "stylesheet" href="anjq-style.css">
	
	<script src="https://cogletre.github.io/angularjs/angular.min.js"></script>
	
	<script src="anjq-bs-script.js"></script>
	<script src="anjq-an-script.js"></script>
	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src = "https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src = "https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
	
	
</head>

<body>
	<h1 style="font-size:15px;text-align:left;margin:10px 0 0 0;padding:0px;"><a href="http://cogletre.github.io">&larr; back to main portfolio</a></h1>
	
	<div ng-app="shoppingList" ng-controller="listCtrl" id="appContainer">
		<h1 class="listTitle">Shopping List</h1>
		<input ng-model="itemName" class="itemNameInput" placeholder="e.g. Bananas, Rice, etc.">
		<input type="number" class="itemQuantityInput" placeholder="###" ng-model="itemQuantity" min="1"><button ng-click="addItem()" class="addItemButton">Add</button>
		<br /><span style = "color:red;" ng-show="itemExists" class="itemExists">Item Exists</span>
		<br />
		<button ng-click="removeChecked()">Remove Checked Items</button>
		<button ng-click="removeAll()">Remove All Items</button>
		
		
		<table class="listTable">
			<tr class="topRow">
				<td class="col1"></td>
				<td class="col2">Item Name</td>
				<td class="col3">#</td>
				<td class="col4">Edit</td>
				<td class="col4">Remove</td>
			</tr>
			<tr ng-repeat="item in listItems" class="itemRow">
				<td class="selectCell col1"><input type="checkbox" ng-model="checkedItem" ng-click="checkItem($index)" class="itemSelect" ></td>
				<td class="nameCell col2">{{item.name}}</td>
				<td class="quantityCell col3" style="font-size:14px;">{{item.quantity}}</td>
				<td class="editCell col4 editItem" ng-click="editItem($index)">Edit</td>
				<td class="removeCell col4 removeItem" ng-click="removeItem($index)">Remove</td>
			</tr>
		</table>
		
		<div>
			<input ng-model="listName" ng-disabled="saveNotAllowed || noListItems" class="listNameInput" placeholder="e.g. My List"><button ng-click="saveList(listName)" ng-disabled="saveNotAllowed || noListItems" class="saveListButton">Save</button>
			<br />
			<span class="saveStatus" id="saveStatus"></span>
			<br />
			<button id="showListButton" class="showListButton" ng-click="showLists()" ng-disabled="noSavedLists || saveNotAllowed">Show Saved Lists</button><span class="loadStatus" id="loadStatus"></span>
			<ol ng-show="showSaved" class="savedLists">
				<li ng-repeat="listName in storedListNames">
					<button ng-click="getList(listName)" class="loadListButton">{{listName}}</button><span ng-click="deleteList(listName,$index)" class="deleteList">Delete</span>
				</li>
			</ol>
		</div>
	</div>
</body>

</html>


