<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset = "UTF-8">
	<meta name = "author" content="Chris Ogletree">
	<meta name = "description" content="Took my AngularJS shopping list project and decided to add other libraries in, mainly jQuery and Bootstrap, in order to practice utilizing multiple libraries in the same application">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>To Do List App</title>
	
	<link href="https://cogletre.github.io/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
	
	<link rel = "stylesheet" href="anjqbs-style.css">
	
	<script src="https://cogletre.github.io/angularjs/angular.min.js"></script>
	
	<script src="anjqbs-jq-script.js"></script>
	<script src="anjqbs-an-script.js"></script>
	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src = "https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src = "https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
	
	
</head>

<body>
	<h1 style="font-size:15px;text-align:left;margin:10px 0 0 0;padding:0px;"><a href="http://cogletre.github.io">&larr; back to main portfolio</a></h1>
	
	<div ng-app="todoListApp" ng-controller="todoListCtrl" id="appContainer">
		<h1 class="taskListTitle">To-Do List</h1>
		<input ng-model="taskName" class="taskNameInput" placeholder="Your To-Do Task">

		<br /><span style = "color:red;" ng-show="taskExists" class="itemExists">Task Exists</span>
		<br />
		<button ng-click="removeChecked()">Remove Checked Tasks</button>
		<button ng-click="removeAll()">Remove All Tasks</button>
		
		
		<table class="listTable table table-striped">
			<tr class="topRow">
				<td class="col1"></td>
				<td class="col2">Task</td>
				<td class="col4">Edit</td>
				<td class="col4">Remove</td>
			</tr>
			<tr ng-repeat="task in taskList" class="taskRow">
				<td class="selectCell col1"><input type="checkbox" ng-model="checkedTask" ng-click="checkTask($index)" class="taskSelect" ></td>
				<td class="nameCell col2">{{task.name}}</td>
				<td class="editCell col4 editTask" ng-click="editTask($index)">Edit</td>
				<td class="removeCell col4 removeTask" ng-click="removeTask($index)">Remove</td>
			</tr>
		</table>
		
		<div>
			<input ng-model="taskListName" ng-disabled="saveNotAllowed || noTaskItems" class="listNameInput" placeholder="e.g. Chores, etc."><button ng-click="saveTaskList(taskListName)" ng-disabled="saveNotAllowed || noTaskItems" class="saveListButton">Save</button>
			<br />
			<span class="saveStatus" id="saveStatus"></span>
			<br />
			<button id="showListButton" class="showListButton" ng-click="showTaskLists()" ng-disabled="noSavedLists || saveNotAllowed">Show Saved Lists</button><span class="loadStatus" id="loadStatus"></span>
			<ol ng-show="showSaved" class="savedLists">
				<li ng-repeat="taskListName in storedTaskNames">
					<button ng-click="getList(taskListName)" class="loadListButton">{{taskListName}}</button><span ng-click="deleteList(listName,$index)" class="deleteList">Delete</span>
				</li>
			</ol>
		</div>
	</div>
</body>

</html>


