
body {font-size:16px;width:95%;margin:1%;}

button.newListButton,button.createList {transition:all 500ms ease;}
button.newListButton:hover,button.createList:hover {color:blue;border-color:blue;}

button.loadListButton,button.loadListButton {transition:all 500ms ease;}
button.loadListButton:hover,button.loadListButton:hover {color:green;border-color:green;}

@media screen and (min-width:501px){
body {font-size:16px;max-width:450px;}
}

.portfolioLink {font-size:16px;text-align:left;margin:10px 0 0 0;padding:0px;font-weight:bold;}
.portfolioLink a {transition:all 500ms ease;text-decoration:none;}
.portfolioLink a:hover {color:rgb(175,175,175);}

#appContainer {
	border:1px solid rgba(175,175,175,0.7);
	padding:0px 10px 20px;
	box-shadow:0px 1px 1px gray;
	margin-top:10px;
}

.cancelStart {float:right;transition:all 500ms ease;text-decoration:underline;cursor:pointer;font-weight:bold;}
.cancelStart:hover {color:red;}

h1.taskListTitle {margin:10px 0 20px 0;}

table.listTable {
	border-collapse:collapse;
	margin:20px 0px 30px 0px;
}
.col1{width:5%;padding:0px;}
.col2{width:40%;padding-left:10px;}
.col3{width:5%;padding-left:10px;}
.col4{width:12%;padding-left:10px;text-align:center;}

.topRow {font-size:14px;font-weight:bold;}
.taskRow {transition:all 500ms ease;}

.taskRow td {
	transition:all 500ms ease;
	vertical-align:middle;
}

.taskRow:hover {
	background-color:rgba(200,200,200,0.5);
}
.taskRow td.nameCell:hover,.taskRow td.editCell:hover,.taskRow td.removeCell:hover {
	background-color:rgba(150,150,150,0.5);
}

.taskSelect {margin:5px 0 0 5px;cursor:pointer;}
.editTask,.removeTask {font-weight:bold;}
.editTask,.removeTask,.deleteList {cursor:pointer;font-size:12px;transition:all 500ms ease;}


h2.listTitle {cursor:pointer;transition:all 500ms ease;margin:10px 0 20px 0;font-size:24px;width:50%;display:inline-block;}
.listTitleStatus {font-size:14px;display:inline-block;}

.removeTask:hover,.deleteList:hover {color:red;}
.editTask:hover,.listTitle:hover {color:rgb(0,150,0);}
.taskSelect:hover {box-shadow:0px 0px 1px rgb(150,150,150);}

.taskNameInput,.listNameInput {
	margin-right:5px;
	border:1px solid rgba(175,175,175,0.7);
	padding-left:5px;
	max-width:50%;
}


.addTaskButton,.loadListButton,.saveListButton,.showListButton {margin-right:5px;}

.showListButton {margin-top:10px;}
.savedLists {margin-bottom:0px;}
.taskExists,.saveStatus {margin-bottom:5px;font-size:14px;}
